ion-title {
    --color: #ffffff;
  }

ion-toolbar {
    --background: #227345;
}

ion-menu-button {
    --color: #ffffff;
}

.card{
    position: sticky;
    top:0;
}

.container {
    margin-right: 100px;
  }
  
  .centered-avatar {
    width: 200px;
    height: 200px;
    margin-left: 80px;
    margin-top: 10px;
  }

.custom{
  background-color: none;
}

.toggle{
  margin-left: 200px;
}

.excluir-editar{
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.button-item {
  flex: 1;
  margin: 0 5px;
}